@font-face {
    font-family: 'Roboto Slab Regular';
    font-style: normal;
    src: url(../fonts/RobotoSlab/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Mono Regular';
    font-style: normal;
    src: url(../fonts/RobotoMono/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    src: url(../fonts/Lato2OFL/Lato-Regular.ttf);
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 3%;
    font-family: 'Lato Regular';
    background-color: #ffffff;
}

/* nav bar All */

.navbarAll {
    background-color: #ffffff;
    /* border-bottom: 2px solid #f2f2f2; */
    height: 100px;
    padding-bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    height: 90%;
    justify-content: flex-end;
    font-family: 'Roboto Slab Regular';

} /* code taken from Adobe site jnc83.myportfolio.com */

#mainNav ul {
    padding-left: 0%;
    margin-bottom: 20px;
    margin-top: 0;
}

#mainNav ul li {
    display: inline;
}

#mainNav ul li a:hover{
    color: #78cc6d;
}

a {
    text-decoration: none;
    color: #363636;
}

#mainNav {
    display: flex;
    justify-content: flex-end;
    width:93%;
    margin-top: 10vh;
}

.homelogos {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

/* .myNameNav {
    font-size: 23px;
    margin-right: 13vw;

}

/* .myNameNav li {
 margin-bottom: 15px;
} */

.navLinks {
    font-size: 13px;
    margin-left: 0;
    margin-right: auto;
    padding-left: 0%;
    margin-bottom: 5.5vh;
}

.navLinks li {
    margin-right: 15px;
}

.current_page {
    color: #78cc6d;
}

/* footer All */

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Roboto Slab Regular'
}

footer .logoDiv {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
}

footer .logoDiv ul {
    padding-left: 0;
}

footer ul li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    height: 40px;
    margin-top: -40px;
}

.generalFooter {

    position: absolute;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    margin-top: 100px;
    margin-bottom: 40px;
}

.moveFooterGeneral {
    justify-content: flex-end;
    text-align: right;
    width: 50%;
}

.footerSentenceGeneral {
    color: #999999;
    padding-left: 80px;
    font-size: 10px;
    text-align: left;
    width: 50%;
}

/* footer for home page */

.footerHome {

    position: absolute;
    top: 93%;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.moveFooterHome {
    justify-content: flex-end;
    text-align: right;
    width: 50%;
}

.footerSentenceHome {
    color: #999999;
    padding-left: 80px;
    font-size: .83vw;
    text-align: left;
    width: 50%;
}

.mailLogo {
    padding-right: 7px;
}
/* landing page */

#top, #bottom, #left, #right {
	background: #78cc6d; /* #a5ebff; */
	position: fixed;
}

#left, #right {
    top: 0; bottom: 0;
    width: 30px;
}
#left {
    left: 0;
}

#right {
    right: 0;
}

#top, #bottom {
    left: 0; right: 0;
    height: 30px;
}

#top {
    top: 0;
}
#bottom {
    bottom: 0;
}

    /* code above taken from https://css-tricks.com/body-border/ */

.homeContent {
    width: 415px;
	height: 200px;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

    margin: auto;
    /* border: 10px green; */

    /* position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px; */
}

.homeContent p {
    vertical-align: middle;
    margin: auto;
    text-align: center;
}

#homeName {
    font-size: 60px;
    color: #141414;
    padding-bottom: 5px;
    font-family: 'Roboto Slab Regular';
}

#homeUX {
    font-size: 15px;
    color: #363636;
    font-family: 'Roboto Slab Regular';
}

.typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .12em solid #363636; /* #78cc6d The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0% }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #363636; } /* #78cc6d */
  }

  /* code above taken from https://css-tricks.com/snippets/css/typewriter-effect/ */

#projectsButton {
    border:none;
    background-color: #363636;
    /* padding-top: 3px;
    padding-bottom: 3px; */
    padding: 10px;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    border-radius: 20px;
    margin-top: 25px;
}

#projectsButton a {
    color: #ffffff;
    font-family: 'Roboto Slab Regular';
}

/* Work page  */

.workImageRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
}

.workPagePics {
    width: 300px;
    height: 300px;
    /* background-color: #f9fafc; */
    margin-bottom: 0;

}

.eachWorkPic {
    position: relative;
    display: inline-block;
    margin-bottom: 0;

}

.eachWorkPic .imageTop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.workPicAndCap:hover .eachWorkPic .imageTop {
    display: inline;
}

figcaption {
    font-family: 'Roboto Slab Regular';
}

.workImageRow figure figcaption{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    font-size: 18px;
    padding-left: 7px;
    padding-right: 7px;
    border-bottom: 1px solid #f9fafc;
    border-left: 1px solid #f9fafc;
    border-right: 1px solid #f9fafc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 0;
}

#caption1 {
    text-decoration: underline;
    text-decoration-color: #f7a072;
}

#caption2 {
    text-decoration: underline;
    text-decoration-color: #88bec8;
}

#caption3 {
    text-decoration: underline;
    text-decoration-color: #fff79a;
}

#caption1:hover {
    border-bottom: 1px solid #f7a072;
    border-left: 1px solid #f7a072;
    border-right: 1px solid #f7a072;
}

#caption2:hover {
    border-bottom: 1px solid #88bec8;
    border-left: 1px solid #88bec8;
    border-right: 1px solid #88bec8;
}

#caption3:hover {
    border-bottom: 1px solid #fff79a;
    border-left: 1px solid #fff79a;
    border-right: 1px solid #fff79a;
}

.eachWorkPic:hover + #caption1{
    border-bottom: 1px solid #f7a072;
    border-left: 1px solid #f7a072;
    border-right: 1px solid #f7a072;
}

.eachWorkPic:hover + #caption2{
    border-bottom: 1px solid #88bec8;
    border-left: 1px solid #88bec8;
    border-right: 1px solid #88bec8;
}

.eachWorkPic:hover + #caption3{
    border-bottom: 1px solid #fff79a;
    border-left: 1px solid #fff79a;
    border-right: 1px solid #fff79a;
}

/* .eachWorkPic:hover + .workDescriptions {
    text-decoration: none;   TRYING TO GET RID OF THE UNDERLINE ON THE DESCRIPTION WHEN HOVERING
} */

.workImageRow figure {
    width: 300px;

}

.workImageRow figure figcaption p{
    font-family: 'Lato Regular';
    font-size: 12px;
}

.pageTitle {
    font-size: 60px;
    color: #141414;
    padding-bottom: 5px;
    font-family: 'Lato Regular';
    text-align: center;
}

.pageSubtitle {
    font-size: 15px;
    color: #363636;
    font-family: 'Roboto Slab Regular';
    width: 200px;
}

.eachPageHeading {
    justify-content: center;
    text-align: center;
}

/* general classes for each project */

.eachWorkPageHeading {
    justify-content: center;
    text-align: center;
}

.goalOfProjectSection {
    text-align: left;
}

.pageContent {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.descriptionRow {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.column {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/* GRT Page */

.processPicture1 {
    width: 75vw;
}

.toolsPicture1 {
    width: 30vw;
}

.frustrationsAndNeedsPics {
    width:60vw;
}

.reviewersAndCoordinatorsLists {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.reviewersAndCoordinatorsLists ul {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.grtUISketches {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.GRTsketches {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.grtUISketches img {
    border: 1px solid #363636
}

.PInotice {
    text-align: center;
}

.GRTMockupsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.GRTMockupPicsColumn {
    display: flex;
    flex-direction: column;
}

.GRTMockupPics {
    width: 50vw;
    margin-left: auto;
    margin-right:auto;
}

.GRTMockupPicCaption {
    margin-left: auto;
    margin-right:auto;
}

.coordinatorPrototypeUIPicGroup {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    vertical-align: center;
}

.coordinatorPrototypeUIPics {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
}

/* APAS Page */

.processPicture3 {
    width: 75vw;
}

.apasunderstandpic {
    width: 30vw;
}

/* About Me Page */

.aboutMeLinks {
    color: rgb(236, 40, 40);
    text-decoration: underline;
}

.AboutMeContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.aboutHalfPage {
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;

}

.aboutHalfPage img {
    width: 40vh;
}
